#TodoList {
    text-align: center;
    width: 500px;
    height: 100%;
    margin: 0 auto;
}

#TodoList > h1 {
    color: #363636;
}

.error {
    display: block;
    font-size: 0.9em;
    color: red;
    padding: 10px;
    font-weight: bold;
}

#TodoForm {
    background: #c8e8f9;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 0 auto;
}

#TodoForm > input {
    width: 380px;
    height: 40px;
    font-size: 1.1em;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#TodoForm > button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    background-color: #2a8dff;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
}

ul.todos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todos > li {
    margin: 0 auto;
    display: block;
    width: 450px;
    height: 30px;
    padding: 10px;
    font-size: 1.2em;
    background: #c8e8f9;
    margin-top: 5px;
    clear: both;
    border-radius: 10px;
    transition: background-color ease-in 0.3s;
}

.todos > li:hover {
    cursor: pointer;
    background-color: #91d4f8;
}

.todos > li > .text {
    display: block;
    width: 400px;
    padding-top: 5px;
    text-align: left;
    float: left;
}

.todos > li > button.delete {
    display: block;
    float: right;
    background: #fa4d4d;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 0.6em;
    display: none;
    padding: 10px;
    border-radius: 10px;
}

.todos > li:hover button.delete {
    display: block;
    cursor: pointer;
}

#updateForm > input {
    display: block;
    width: 400px;
    padding-top: 5px;
    text-align: left;
    border: none;
    background: none;
    font-size: 1em;
    float: left;
    border-bottom: 2px solid white;
    outline: none;
}

#updateForm > button.update {
    display: block;
    float: right;
    background: none;
    font-weight: bold;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
}

div.fixed-author {
    position: fixed;
    bottom: 4%;
    left: 2%;
    background: dimgray;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.fixed-author > a {
    text-decoration: none;
    color: powderblue;
    font-weight: bold;
}

.fixed-author > a:hover {
    color: lightblue;
    text-decoration: underline;
}
